*{
  font-family: "Montserrat", sans-serif;
  background-color: black;
  overflow: hidden;
  margin: 0;
  color: white;
}

.main{
    display: flex; 
    height: 100vh; 
}

.Sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.75rem;
}

.main-content {
    background-color:#121312;
    flex:1;  
    border-radius: 1rem; 
    overflow: auto; 
}

.music-player{
    background-color: black;
    position: fixed; 
    bottom: 0%;
    width: 100%;
    height:72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    height: 100px;
    border-radius: 1rem;
}

a{
    text-decoration: none;
    color: white;
    background-color: #121212;
}

.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
    background-color: #121212;
}
.nav-option a{
    line-height: 1.25rem;
    margin-left: 1rem;
    background-color: #121212;
}
.nav-option:hover{
    opacity: 2;
}
.nav-option i{
    line-height: 1.25rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    padding: 0.5rem 0.75rem;
    margin-top: 0.5rem;
}
.options{
     display: flex;
    justify-content: space-between;
    align-items: center;
     background-color: #121212;
}
.lib-option img{
    height: 1.25rem;
    height: 1.25rem;
     background-color: #121212;
}
.icons{
    font-size: 1.25rem;
    display: flex;
     background-color: #121212;
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
     background-color: #121212;
}
.icons i:hover{
    opacity: 2;
}
.boxes{
    background-color: #232323;
    height: 8rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 1rem 1.25rem;
    border-radius: 0.75rem;
}
.box-p1{
    background-color: #232323;
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    background-color: #232323;
    opacity: 0.95;
    font-size: 0.75rem;
    margin-top: 1rem;
}
.badge{
    background-color: #fff;
    border-radius: 100px;
    border: 0;
    font-weight: 700;
    padding: 0.25rem 1rem;
    color: black;
    width: fit-content;
    margin-top: 0.5rem;
    height: 2rem;
    margin-top: 1.75rem;
    
}
.sticky-nav{
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.sticky-nav1{
    margin-top: 1.5rem;
    margin-left: 0.75rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -11px;
    background-color: #010000;

}
.hello{
    margin-top: 1.5rem;
    margin-right: 1rem;
    background-color: #121312;
}
.sticky-nav2{
    display: flex;
    align-items: center;
    background-color: #010000;
    position: relative;
    top: -15px;
}
.sticky-nav2 button{
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: grey;
    background-color: #010000;
    
}
.dark-badge{
    background-color: #010000;
    opacity: 0.8;
    color: grey;
    margin-right: 0.25rem;
}
@media (max-width:1000px){ 
    .hat{
        display: none;
    }
    .hide{
        display: none;
    }
}
.hat{
    background-color: #010000;
}
.card{
    width: 150px;
    border-radius: 1rem;
    padding: 1rem;
    margin-left: 0.75rem;
    background-color: #121312;
}
.cards-container{
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
   background-color: #121312;
   border-radius: 0.5rem;
    
}
.card-img{
    width: 100%;
    
    background-color: #121312;
}
.card-title{
    font-weight: 600;
    background-color: #121312;
    
}
.card-info{
    font-size: 0.75rem;
   background-color: #121312;
    margin-top: 0.5rem;
    opacity: 0.8;
}
.footer{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121312;
}
.line{
    width: 95%;
    height: 15%;
    opacity: 0.4;
    border-top: 1px solid white;
    background-color: #121312;
}
.cards-container1{
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    background-color: #121312;
    border-radius: 0.5rem;
    
}
.card-img1{
    width: 100%;
    border-radius: 100%;
     background-color: #121312;
}
.show-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121312;
    border-radius: 0.5rem;
}
.p1{
    margin-left: 1.5rem;
    background-color: #121312;
}
.p2{
    margin-right: 2rem;
    background-color: #121312;
}
.whole{
    display: flex;
    background-color: #121312;
}
.extra{
    margin-left: 1.25rem;
    font-size: 0.85rem;
    margin-right: 4rem;
    font-weight: 600;
    background-color: #121312;
}

.c2{
    opacity: 0.8;
    background-color: #121312;
}
.ic{
    margin-left: 10rem;
    display: flex;
    gap: 28px;
    background-color: #121312;
}
.c1{
    background-color: #121312;
}
.fa-brands {
    background-color: #121312;
    font-size: 1.5rem;
    opacity: 0.7;
}
.fa-brands:hover{
    opacity:3;
}
.sp{
    background-color: #121312;
    transform: translateY(-12rem);
    transform: translateX(+1.5rem);
}
.footer1{
    height: 90px;
    background-color: #121312;
}
.x{
    transform: translateY(-12rem);
    transform: translateX(+1.5rem);
    font-size: 0.75rem;
    background-color: #121312;
}
.album{
    width: 25%;
}
.player{
    width: 50%;
    align-items: center;
}
.controls{
    width: 25%;
}
.pc{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}
.pc:hover{
    opacity: 3;
}
.pc1{
     height: 1rem;
    margin-right: 1.75rem;
}
.player-con{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.pb1{
    width: 70%;
  accent-color: white;
  height: 7px;
  border-radius: 50%;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}
.total-time{
    margin-left: 1rem;
}

.controls{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;

}
.mike{
     display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.mp{
    background-color: black;
    height: 2.5rem;
    margin-right: 0.5rem;
    align-items:center;
    align-content: center;
     
}
.pb{
    width: 70%;
    margin-right: 2rem;
  accent-color: white;
  height: 10px;
  border-radius: 50%;
}
.eng{
  color: #fff;
}
.mp1{
     background-color: black;
    height: 2.5rem;
    margin-right: 0.5rem;
    align-items:center;
    align-content: center;
}
.icm{
    background-color: black;
    display: flex;
     align-items:center;
    align-content: center;
}
.album{
    display: flex;
    align-items:center;
    align-content: center;
}
.imgn{
    height: 3rem;
    width:3rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    margin-right: 0.75rem;
}
.para{
    font-size: 1rem;
    margin-top: 0.5rem;
    opacity: 0.9;
}
.icm{
    margin-left: 1rem;
}



